[submodule "references/bps-website"]
	path = references/bps-website
	url = https://github.com/bluesky-social/bps-website
	shallow = true
	ignore = dirty
[submodule "references/atproto"]
	path = references/atproto
	url = https://github.com/bluesky-social/atproto
	ignore = dirty
[submodule "references/cookbook"]
	path = references/cookbook
	url = https://github.com/bluesky-social/cookbook
	ignore = dirty
