[submodule "references/bsky-docs"]
	path = references/bsky-docs
	url = https://github.com/bluesky-social/bsky-docs
	shallow = true
	ignore = dirty
[submodule "references/atproto"]
	path = references/atproto
	url = https://github.com/bluesky-social/atproto
	ignore = dirty
[submodule "references/cookbook"]
	path = references/cookbook
	url = https://github.com/bluesky-social/cookbook
	ignore = dirty
